
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <h3>My App</h3>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/login'">Login</button>
    <button mat-menu-item [routerLink]="'/user'">User</button>
    <button mat-menu-item [routerLink]="'/home'">Home</button>
</mat-menu>

Main App Comp
<router-outlet></router-outlet>
<app-home></app-home>
 <!--

-Main App Comp-->